.alunoInfomacoes {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
    grid-column-gap: 0px;
}

.consultarAlunos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 2rem;
}

.informacoesDoAluno {
    background: none;
    border: 1px solid #353535;
    outline: none;
    width: 250px;
    padding: 8px 23px;
    font-size: 15px;
    border-radius: 8px;
    color: #979797;
    margin-left: 20px;
}

.btnBuscar {
    display: flex;
    margin: 1rem;
    outline: none;
    border: none;
    background-color: #459AD6;
    padding: 12px 22px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #C9EAF8;
}
.btnBuscar:hover {
    cursor: pointer;
}

.btnBuscar:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #C9EAF8;
}

.color-result {
    color: #000;
}

.ocorrenciasDoAluno {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}